.page_nav {
    display: grid;
    grid-template-columns: repeat(2, [col] auto);
    background-color: #4A4848;
}

.comp_logo {
    display: grid;
    grid-column: col;
    text-transform: uppercase;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    color: #CFCECE;
    letter-spacing: 1px;
    font-size: 150%;
}

.nav_bar {
    grid-column: col 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #4A4848;
    margin: 12px;
    text-transform: uppercase;
    font-size: 10px;
    align-items: center;
}

.nav_text {
    //background-color: #7F26E9;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    color: #CFCECE;
    letter-spacing: 1px;
    font-size: 150%;
}

.nav_text:hover {
    color: #FFFFFF;
}

.main_header {
    background-color: #4A4848;
}

.buttonClass {
    font-size: 24px;
    display: none;
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width : 750px) {
    .nav_bar {
        display: none;
    }

    .nav_item {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 40px;
        background-color: #4A4848;
        text-transform: uppercase;
        font-size: 10px;
        align-items: center;
    }

    .buttonClass:focus ~ nav {
        display: grid;
    }

    .buttonClass {
        font-size: 24px;
        display: grid;
        grid-template-columns: 200px;
    }

    .material-icons.md-light {
        color: rgba(255, 255, 255, 1);
    }

    .material-icons.md-light.md-inactive {
        color: rgba(255, 255, 255, 0.3);
    }
}