.nav_bar {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 200px repeat(6, 1fr);
    background-color: #4A4848;
    margin:12px;
    text-transform: uppercase;
    font-size: 10px;
    align-items: center;
}

.login_box {
    display: flex;
}

.nav_log {
    flex: 1 0 auto;
}

.forgot_pass {
    flex: 1 0 auto;
}

.new_account {
    flex: 1 0 auto;
}

.log_form_field {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav_text {
    //background-color: #7F26E9;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Arcon;
    text-decoration: none;
    color: #CFCECE;
    letter-spacing: 1px;
    font-size: 150%;
}

.nav_text:hover {
    color: #FFFFFF;
}

.main_header {
    background-color: #4A4848;
}